.d-none {
    display: none !important;
}

table#DataTables_Table_1 span.badge.me-1 {
    font-size: 10px;
}

table th,
table td {
    border: none !important;
    box-shadow: none !important;
}

div#DataTables_Table_1_wrapper button.dt-paging-button {
    margin: 0 5px;
}

button.dt-paging-button:hover,
div.dt-container .dt-paging .dt-paging-button:hover {
    background: #ecf0f6 !important;
    border: 0 !important;
    box-shadow: none !important;
    border-radius: 10px !important;
}

div.dt-container .dt-paging .dt-paging-button.current,
div.dt-container .dt-paging .dt-paging-button.current:hover {
    background: #4f46e5 !important;
    color: #fff !important;
    border: 0 !important;
    border-radius: 30px !important;
}

.dt-layout-cell.dt-layout-end .dt-paging button {
    border: 0 !important;
}

tbody > tr > td:nth-child(1) {
    width: 7% !important;
}

tbody > tr > td:nth-child(2) {
    width: 80% !important;
}

tbody > tr > td:nth-child(3) {
    width: 13% !important;
    text-align: right;
    vertical-align: top;
}

.report-table tbody tr:hover {
    background-color: #f2f2f2;
    border-radius: 10px !important;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}

th {
    padding-left: 0 !important;
}

table.dataTable > tbody > tr {
    background-color: transparent;
    border-bottom: 1px solid #ebebeb;
}

th.text-center.dt-orderable-asc.dt-orderable-desc {
    width: 20%;
}

div#nav-tabContent table .tagsDiv span {
    font-size: 8px !important;
    padding: 5px !important;
}

div#nav-tabContent table strong {
    color: #111 !important;
    font-weight: normal;
}

thead {
    display: none !important;
}

.dt-layout-cell.dt-layout-end .dt-paging {
    border: 2px solid #dee2e6;
    border-radius: 10px;
    padding: 5px;
}

button.dt-paging-button.current {
    background: #f0f8ff !important;
    border: 0 !important;
}

.dt-layout-cell.dt-layout-start {
    font-size: 12px;
}

ul#listPencarian a {
    margin-left: 5px;
}

td.dt-empty {
    display: none;
}
