@import url('https://fonts.googleapis.com/css2?family=Segoe UI:wght@400;500;600&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", sans-serif;
}

 :root {
    --text-color: #FFFFFF;
    --icon-color: #ACACBE;
    --icon-hover-bg: #5b5e71;
    --placeholder-color: #e2e8f0;
    --outgoing-chat-bg: #020617;
    --incoming-chat-bg: #282828;
    --outgoing-chat-border: #343541;
    --incoming-chat-border: #444654;
}

.light-mode {
    --text-color: #343541;
    --icon-color: #a9a9bc;
    --icon-hover-bg: #f1f1f3;
    --placeholder-color: #6c6c6c;
    --outgoing-chat-bg: #FFFFFF;
    --incoming-chat-bg: #F7F7F8;
    --outgoing-chat-border: #FFFFFF;
    --incoming-chat-border: #D9D9E3;
}

body {
    background: var(--outgoing-chat-bg);
}


/* Chats container styling */

.chat-container {
    overflow-y: auto;
    max-height: 100vh;
    padding-bottom: 150px;
}

 :where(.chat-container,
textarea)::-webkit-scrollbar {
    width: 6px;
}

 :where(.chat-container,
textarea)::-webkit-scrollbar-track {
    background: var(--incoming-chat-bg);
    border-radius: 25px;
}

 :where(.chat-container,
textarea)::-webkit-scrollbar-thumb {
    background: var(--icon-color);
    border-radius: 25px;
}

.default-text {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 70vh;
    padding: 0 10px;
    text-align: center;
    color: var(--text-color);
}

.default-text h1 {
    font-size: 3.3rem;
}

.default-text p {
    margin-top: 10px;
    font-size: 1.1rem;
}

.chat-container .chat {
    padding: 15px 10px;
    display: flex;
    justify-content: center;
    color: var(--text-color);
}

.chat-container .chat.outgoing {
    width: 70%;
    margin: 0 15%;
    background: var(--outgoing-chat-bg);
}

.chat-container .chat.incoming {
    /* width: 50%;
    margin: 0 25% 20px 25%; */
    width: 70%;
    margin: 0 15%;
}

.chat-container .chat.incoming .chat-content {
    background: var(--incoming-chat-bg);
    padding: 15px;
    border-radius: 10px;
}

.chat .chat-content {
    display: flex;
    max-width: 1200px;
    width: 100%;
    align-items: flex-start;
    justify-content: space-between;
}

span.material-symbols-rounded {
    user-select: none;
    cursor: pointer;
}

.chat .chat-content span {
    cursor: pointer;
    line-height: 1.5;
    text-transform: capitalize;
}

.chat:hover .chat-content:not(:has(.typing-animation),
 :has(.error)) span {
    visibility: visible;
}

.chat .chat-details {
    display: flex;
    width: 100% !important;
}

.chat .chat-details img {
    width: 35px;
    height: auto;
    border-radius: 2px;
}

.chat .chat-details p {
    font-size: 1rem;
    padding: 0 50px 0 25px;
    color: var(--text-color);
    word-break: break-word;
    width: 100% !important;
    line-height: 1.5;
}

.chat .chat-details p.error {
    color: #e55865;
}

.chat .typing-animation {
    padding-left: 25px;
    display: inline-flex;
}

.typing-animation .typing-dot {
    height: 7px;
    width: 7px;
    border-radius: 50%;
    margin: 0 3px;
    opacity: 0.7;
    background: var(--text-color);
    animation: animateDots 1.5s var(--delay) ease-in-out infinite;
}

.typing-animation .typing-dot:first-child {
    margin-left: 0;
}

@keyframes animateDots {
    0%,
    44% {
        transform: translateY(0px);
    }
    28% {
        opacity: 0.4;
        transform: translateY(-6px);
    }
    44% {
        opacity: 0.2;
    }
}


/* Typing container styling */

.typing-container {
    position: fixed;
    bottom: 50px;
    width: 100%;
    display: flex;
    padding: 20px 10px;
    justify-content: center;
    background: var(--outgoing-chat-bg);
    border-top: 1px solid var(--incoming-chat-border);
    margin-top: 50px;
}

.typing-container .typing-content {
    display: flex;
    max-width: 950px;
    width: 100%;
    align-items: flex-end;
}

.typing-container .typing-textarea {
    width: 100%;
    display: flex;
    position: relative;
}

.typing-textarea textarea {
    resize: none;
    height: 55px;
    width: 100%;
    border: none;
    padding: 15px 45px 15px 20px;
    color: var(--text-color);
    font-size: 1rem;
    border-radius: 4px;
    max-height: 250px;
    overflow-y: auto;
    background: var(--incoming-chat-bg);
    outline: 1px solid var(--incoming-chat-bg);
}

.typing-textarea textarea::placeholder {
    color: var(--placeholder-color);
}

.typing-content span {
    width: 55px;
    height: 55px;
    display: flex;
    border-radius: 4px;
    font-size: 1.35rem;
    align-items: center;
    justify-content: center;
    color: var(--icon-color);
}

.typing-textarea span {
    position: absolute;
    right: 0;
    bottom: 0;
    visibility: hidden;
}

.typing-textarea textarea:valid~span {
    visibility: visible;
}

.typing-controls {
    display: flex;
}

.typing-controls span {
    margin-left: 7px;
    font-size: 1.4rem;
    background: var(--incoming-chat-bg);
}

.typing-controls span:hover {
    background: var(--icon-hover-bg);
}


/* Reponsive Media Query */

@media screen and (max-width: 600px) {
    .default-text h1 {
        font-size: 2.3rem;
    }
     :where(.default-text p,
    textarea,
    .chat p) {
        font-size: 0.95rem !important;
    }
    .chat-container .chat {
        padding: 15px 10px;
    }
    .chat-container .chat img {
        height: 32px;
        width: 32px;
    }
    .chat-container .chat p {
        padding: 0 20px;
    }
    .chat .chat-content:not(:has(.typing-animation),
     :has(.error)) span {
        visibility: visible;
    }
    .typing-container {
        padding: 15px 10px;
    }
    .typing-content span {
        height: 45px;
        width: 45px;
        margin-left: 5px;
    }
    span.material-symbols-rounded {
        font-size: 1.25rem !important;
    }
}

.chat-details iframe {
    width: 100% !important;
    height: 100vh;
    border: none;
    margin: 15px auto 0 auto !important;
    display: block;
}


/* coba-coba saja */

@media screen and (max-width: 600px) {}

body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

.chat-container {
    overflow-y: auto;
    max-height: 100vh;
    padding-bottom: 0;
}

.typing-container {
    position: relative;
    bottom: 50px;
    width: 100%;
    display: flex;
    padding: 20px 10px;
    justify-content: center;
    background: var(--outgoing-chat-bg);
    border: 0;
    margin-top: 50px;
}

.default-text {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: auto !important;
    padding: 0 10px;
    text-align: center;
    color: var(--text-color);
}

.typing-textarea textarea {
    resize: none;
    height: 55px;
    width: 100%;
    border: none;
    padding: 15px 45px 15px 20px;
    color: var(--text-color);
    font-size: 1rem;
    border-radius: 30px;
    max-height: 250px;
    overflow-y: auto;
    background: var(--incoming-chat-bg);
    outline: 1px solid var(--incoming-chat-bg);
}

.typing-controls span {
    margin-left: 7px;
    font-size: 1.4rem;
    background: var(--incoming-chat-bg);
    border-radius: 30px;
}

.chat-container {
    width: 100%;
    padding: 25px 0;
}

footer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0 !important;
    height: 45px !important;
}

body.dark-mode .material-symbols-outlined {
    color: white;
}

footer p {
    font-size: 12px;
}

.chat.incoming span.material-symbols-outlined {
    background-color: #f7f7f8 !important;
    border-radius: 5px;
}

.default-text span {
    color: #ff0202;
    display: block;
    padding: 10px 0;
}

.chat-container .chat.incoming .chat-details {
    flex-direction: column;
}

.row.incomingHeader {
    display: flex;
    align-items: center;
}

.chat-container .chat.incoming .chat-details .row {
    display: flex;
    align-items: center;
}