@import url('https://fonts.googleapis.com/css2?family=Segoe UI:wght@400;500;600&display=swap');
* {
    /* margin: 0;
    padding: 0;
    box-sizing: border-box; */
    font-family: "Segoe UI", sans-serif;
}

 :root {
    --text-color: #FFFFFF;
    --icon-color: #ACACBE;
    --icon-hover-bg: #5b5e71;
    --placeholder-color: #e2e8f0;
    --outgoing-chat-bg: #020617;
    --incoming-chat-bg: #282828;
    --outgoing-chat-border: #343541;
    --incoming-chat-border: #444654;
}

.light-mode {
    --text-color: #343541;
    --icon-color: #a9a9bc;
    --icon-hover-bg: #f1f1f3;
    --placeholder-color: #6c6c6c;
    --outgoing-chat-bg: #FFFFFF;
    --incoming-chat-bg: #F7F7F8;
    --outgoing-chat-border: #FFFFFF;
    --incoming-chat-border: #D9D9E3;
}

body {
    background: var(--outgoing-chat-bg);
}

/* Chats container styling */
.chat-container {
    padding-bottom: 150px;
}

 :where(.chat-container,
textarea)::-webkit-scrollbar {
    width: 6px;
}

 :where(.chat-container,
textarea)::-webkit-scrollbar-track {
    background: var(--incoming-chat-bg);
    border-radius: 25px;
}

 :where(.chat-container,
textarea)::-webkit-scrollbar-thumb {
    background: var(--icon-color);
    border-radius: 25px;
}

.default-text {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 70vh;
    padding: 0 10px;
    text-align: center;
    color: var(--text-color);
}

.default-text h1 {
    font-size: 3.3rem;
}

.default-text p {
    margin-top: 10px;
    font-size: 1.1rem;
}

.chat-container .chat {
    padding: 10px;
    /* display: flex;
    justify-content: center; */
    color: var(--text-color);
}

.chat-container .chat.outgoing {
    background: var(--outgoing-chat-bg);
}

@media screen and (min-width: 1000px) {

    .typing-container .typing-content {
            width: 60%;
            margin: 0 20%;
        }

    .chat-container {
        width: 60%;
        margin-left: 20%;
    }

.chat-container .chat.outgoing .chat-details {
        text-align: right;
        justify-content: end;
        align-items: end;
        padding: 15px;
        border-radius: 10px;
    }
}

.incomingItem span.badge {
    font-size: 9px;
}

.chat-container .chat.incoming .chat-content {
    border-radius: 10px;
}

span.material-symbols-rounded {
    user-select: none;
    cursor: pointer;
}

.chat .chat-content span {
    cursor: pointer;
    line-height: 1.5;
    text-transform: capitalize;
}

.chat:hover .chat-content:not(:has(.typing-animation),
 :has(.error)) span {
    visibility: visible;
}

.chat-container .chat.incoming .chat-details img {
    width: 60px;
    height: auto;
    border-radius: 2px;
}

.chat-container .chat.outgoing .chat-details img {
    width: 40px;
    height: auto;
    border-radius: 2px;
}

.chat .chat-details p {
    font-size: 1rem;
    color: var(--text-color);
    word-break: break-word;
    line-height: 1.5;
}

.chat .chat-details p.error {
    color: #e55865;
}

.chat .typing-animation {
    padding-left: 25px;
    display: inline-flex;
}

.typing-animation .typing-dot {
    height: 7px;
    width: 7px;
    border-radius: 50%;
    margin: 0 3px;
    opacity: 0.7;
    background: var(--text-color);
    animation: animateDots 1.5s var(--delay) ease-in-out infinite;
}

.typing-animation .typing-dot:first-child {
    margin-left: 0;
}

@keyframes animateDots {
    0%,
    44% {
        transform: translateY(0px);
    }
    28% {
        opacity: 0.4;
        transform: translateY(-6px);
    }
    44% {
        opacity: 0.2;
    }
}


/* Typing container styling */

.typing-container {
    padding: 20px 10px;
    background: var(--outgoing-chat-bg);
    border-top: 1px solid var(--incoming-chat-border);
    margin-top: 50px;
}


.typing-container .typing-content {
    display: flex;
    align-items: flex-end;
    align-items: flex-end;
    align-items: center;
}

.typing-container .typing-textarea {
    width: 100%;
    display: flex;
    position: relative;
}

.typing-textarea textarea {
    resize: none;
    height: 55px;
    width: 100%;
    border: none;
    padding: 15px 45px 15px 20px;
    color: var(--text-color);
    font-size: 1rem;
    border-radius: 4px;
    max-height: 250px;
    overflow-y: auto;
    background: var(--incoming-chat-bg);
    outline: 1px solid var(--incoming-chat-bg);
}

.typing-textarea textarea::placeholder {
    color: var(--placeholder-color);
}

.typing-content span {
    width: 55px;
    height: 55px;
    display: flex;
    border-radius: 4px;
    font-size: 1.35rem;
    align-items: center;
    justify-content: center;
    color: var(--icon-color);
}

.typing-textarea span {
    position: absolute;
    right: 0;
    bottom: 0;
    visibility: hidden;
}

.typing-textarea textarea:valid~span {
    visibility: visible;
}

.typing-controls {
    display: flex;
}

.typing-controls span {
    margin-left: 7px;
    font-size: 1.4rem;
    background: var(--incoming-chat-bg);
}

.typing-controls span:hover {
    background: var(--icon-hover-bg);
}


/* Reponsive Media Query */

@media screen and (max-width: 600px) {
    .default-text h1 {
        font-size: 2.3rem;
    }
     :where(.default-text p,
    textarea,
    .chat p) {
        font-size: 0.95rem !important;
    }
    .chat-container .chat {
        padding: 10px;
    }
    .chat-container .chat img {
        height: 32px;
        width: 32px;
    }
    .chat-container .chat p {
        padding: 0 20px;
    }
    .chat .chat-content:not(:has(.typing-animation),
     :has(.error)) span {
        visibility: visible;
    }
    .typing-container {
        padding: 15px 10px;
    }
    .typing-content span {
        height: 45px;
        width: 45px;
        margin-left: 5px;
    }
    span.material-symbols-rounded {
        font-size: 1.25rem !important;
    }
}

.chat-details iframe {
    width: 100% !important;
    height: 100vh;
    border: none;
    margin: 15px auto 0 auto !important;
    display: block;
}


/* coba-coba saja */

@media screen and (max-width: 600px) {}

body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

.default-text {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: auto !important;
    padding: 0 10px;
    text-align: center;
    color: var(--text-color);
}

.typing-textarea textarea {
    resize: none;
    height: 55px;
    border: none;
    padding: 15px 45px 15px 20px;
    color: var(--text-color);
    font-size: 1rem;
    border-radius: 30px;
    max-height: 250px;
    overflow-y: auto;
    background: var(--incoming-chat-bg);
    outline: 1px solid var(--incoming-chat-bg);
}

.typing-controls span {
    margin-left: 7px;
    font-size: 1.4rem;
    background: var(--incoming-chat-bg);
    border-radius: 30px;
}

body.dark-mode .material-symbols-outlined {
    color: white;
}

footer p {
    font-size: 12px;
    text-align: center;
}

.default-text span {
    display: block;
    padding: 10px 0;
}

.chat-container .chat.incoming .chat-details {
    flex-direction: column;
}

.row.incomingHeader {
    display: flex;
    align-items: center;
}

.chat-container .chat.incoming .chat-details .row {
    display: flex;
    align-items: center;
}

.fixed-bottom {
    height: 150px;
}

.chat-container {
    overflow-y: auto;
    height: 100vh;
    padding: 1rem;
    padding-bottom: 200px;
    overflow-y: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.chat-container::-webkit-scrollbar {
    display: none;
}

.default-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    max-width: 90%;
}

.incomingHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.incomingHeader p {
    text-align: left;
    margin: 0;
    padding-right: 15px;
}

.typing-container.fixed-bottom p {
    font-size: .75rem;
}

/* hgasdhjkad */
.typing-container {
    transition: all 0.3s ease;
    z-index: 999;
}

.typing-container.sticky {
    position: fixed;
    bottom: 0;
    width: 100%;
}

.typing-container.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}